<html>
<head>
<style type="text/css">
body {
    background-image:url('/images/skyline_gringo.png');
    background-repeat:no-repeat;
    background-color:#010101;;
}
</style>
</head>
<body>
<h1>Gringo Lingo</h1>
</body>
</html>

